/**
 * Little screens
 */
@media screen and (min-width: 0px) and (max-width: 800px) {
	.bottom, .bottom-inner, .container, .toTop-hold,
	.floats, .footer, .header, .navbar {
		display: none;
	}

	.mobile-container, .mobile-full, .mobile-footer, .mobile-navbar {
		display: block;
	}
}


/**
 * Mid to large size screens
 */
@media screen and (min-width: 801px) and (max-width: 1024px) {
	.mobile-full {
		display: none;
	}
}
